.input {
	margin: 2rem auto;
	padding: 1rem;
	width: 40rem;
	max-width: 90%;
}

.input label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input input:focus {
	outline: none;
}
