.chart {
	padding: 1rem;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	background-color: #b3a9cc;
	text-align: center;
	display: flex;
	justify-content: space-around;
	height: 10rem;
}
